body {
    background: #0f2027;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

a {
    display: inline-block;
    margin: 15px;
    padding: 12px 25px;
    background: #00f7ff;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    background: #00c3cc;
    transform: scale(1.1);
}